<!--管理者用、投稿一覧-->
<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>ジャンル一覧</h2>
      <%= render "admin/genres/admin_genre_search", genres: @genres %><!--ジャンル一覧-->
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>共有情報一覧</h2>
      <%= render 'index', infos: @infos%><!--投稿一覧-->
    </div>
  </div>
</div>

