<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>情報編集</h1>

  		<%= render 'form', info: @info %>
  		<%= link_to 'Show', @info %> |
  		<%= link_to 'Back', info_path, class: "back" %>
  	</div>
  </div>
</div>