<!--投稿の一覧ページ-->
<div class='container px-5 px-sm-0' >
  <div class='row'>
    <!--サイドバー-->
    <div class='side-bar col-md-3 mt-5'>
      <!--ジャンル検索-->
      <%= render "admin/genres/genre_search", genres: @genres %>
      <!--投稿のエラーメッセージ-->
      <%= render 'layouts/errors', obj: @info %>
      <!--投稿フォーム-->
      <%= render 'form', info: @info_new %>
    </div>
    <!--投稿の一覧-->
    <div class='col-md-8 offset-md-1 mt-4'>
      <h3 class="mb-3">共有情報一覧</h3>
      <%= render 'index', infos: @infos %>
    </div>
  </div>
</div>

