<div class='container px-5 px-sm-0' >
    <%= render 'layouts/errors', obj: @info %>
  <div class='row'>
    <div class='col-md-3'>
       <div class="genre_search pt-4">
      <%= render "admin/genres/genre_search", genres: @genres %>
      </div>
      <h4 class="info_form pt-4">新規情報投稿</h4>
      <%= render 'form', info: @info_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h3 class="infos_index pt-4">共有情報一覧</h3>
      <%= render 'index', infos: @infos%>
    </div>
  </div>
</div>

