<table>
  <% if @user == current_user %>
  <tr>
    <th>フォロー</th>
    <th><%= link_to @user.followings.count, user_followings_path(@user) %></th>
  </tr>
  <tr>
    <th>フォロワー</th>
    <th><%= link_to @user.followers.count, user_followers_path(@user) %></th>
  </tr>
  <% end %>
</table>