<% if @model == 'user' %>
	<h3>ユーザー検索 "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'info' %>
	<h3>情報検索 "<%= @content %>"</h3>
  <%= render 'infos/index', infos: @records %>
<% end %>