<!--元の記述-->
<%= form_with model: [@info, @comment], url: admin_info_info_comment_path(@info.id, @comment.id)  do |f| %>


  <div class="field">
    <%= f.label :comment, "コメント編集" %></br>
    <%= f.text_field :comment %>
  </div>

  <div class="submit">
    <%= f.submit "送信"%>
  </div>

<% end %>