<!--ユーザー用、トップページ-->
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <!--サイドバー-->
    <div class='side-bar col-md-3 mt-5'>
      <%= render 'public/users/sidebar', info: @info, user: current_user, genres: @genres, bookmarks: @bookmarks %>
    </div>
    <!--新着投稿(今日の投稿のみ)-->
    <div class='col-md-8 offset-md-1'>
      <h3 class="infos_index pt-4">本日の新着情報</h3>
      <%= render 'public/infos/index', infos: @infos%>
    </div>
  </div>
</div>





