$('#chat_message').val("")
$('.message').append("<%= @chat.message %>");

<!--元の記述-->
<!--
$('#chat_message').val("")
$('.message').append("<b><p style='text-align: left; background-color: #00EE00F; border-radius: 30px;'><%#= @chat.message %></p></b>");
-->

<!--
$('input[type=text]').val("")
$('.message').append("<p style='text-align: left;'><%#= @chat.message %></p>");
-->
