<!--ユーザー用のジャンル一覧-->
<div class="table-responsive mt-3">
  <table class="table table-bordered border border-dark">
    <thead class="bg-dark">
      <tr>
        <th>
          <a class="text-white"
            data-toggle="collapse"
            href="#collapseExample"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            ジャンル一覧(クリック)
          </a>
        </th>
      </tr>
    </thead>

    <tbody class="collapse" id="collapseExample">
    <% genres.each do |genre| %>
      <tr>
        <td>
          <%= link_to infos_path(genre_id: genre.id) , class: 'nav-link text-dark' do %>
            <%= genre.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>