<table>
  <tbody>
      <% info.memos.each do |memo| %>
      <tr>
        <% if memo.user == current_user %>
        <td><%= memo.memo %></td>
        <td>
          <%= link_to "編集", edit_info_memo_path(info, memo), class: "btn btn-success pull-right"%>
          <%= link_to "削除する", info_memo_path(info, memo), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger pull-right", remote: true %>
        </td>
        <% end %>
      </tr>
      <% end %>
  </tbody>
</table>