@import '~bootstrap/scss/bootstrap';


/*フッターの位置調整 ヘッダーとフッターの高さを指定し、mainは両方の高さを引いた高さに*/
header { height: 64px; }
main {
  min-height: calc(100vh - 64px - 50px);
}
footer { height: 50px; }

/* ページネーション */

.pagination{
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    span{
      color: #000000;
        border-color: #000000;
        background-color: #FFFFFF;
        text-align: center;
        width: 50px;
        :hover{
            background-color:#f3f3f3;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
            :hover{
                background-color: #f3f3f3;
              }
        }
    }
}


.message-index{
    margin-bottom: 50px;
    /*下記 チャット画面・遷移後ページの一番下が表示されるようにするための記述*/
    height: calc(100vh - 160px - 120px);
    overflow-y: scroll;
}

.current-message-tbody{
    background-color:#eee;
}
.current-message{
    display: inline-block;
    text-align: left;
    background-color:#00EE00;
    border-radius: 30px;
}

.user-message-td{
    text-align: right;
}
.user-message{
    display: inline-block;
    text-align: right;
    background-color:#000;
    border-radius: 100px;
}



.chat-form{
    bottom: 50px;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
}


.profile_image{

}