<% if @info.bookmarked_by?(current_user) %>
          <td><%= link_to "ブックマークを外す", info_bookmarks_path(@info), method: :delete %></td>
          <% else %>
          <td><%= link_to "ブックマーク", info_bookmarks_path(@info), method: :post %></td>
          <% end %>