<!--ユーザーの一覧-->
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <!--サイドバー-->
    <div class='side-bar col-md-3 mt-5'>
        <!--ジャンル検索-->
        <%= render "admin/genres/genre_search", genres: @genres %>
        <%= render 'public/infos/new', info: @info%>
        <%#= render 'public/infos/form', info: @info%>
    </div>
    <!--ユーザーの一覧-->
    <div class='col-md-8 offset-md-1 mt-4'>
      <h3 class="mb-3">ユーザー一覧</h3>
      <%= render 'index',users: @users %>
    </div>
  </div>
</div>