<!--ユーザーの一覧-->
<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <!--ジャンル検索-->
      <div class="genre pt-4">
      <%= render "admin/genres/genre_search", genres: @genres %>
      </div>
      
      <h5 class=" pt-4 mt-3">新規情報投稿</h5>
      <%= render 'public/infos/form', info: @info%>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2 class="users_index pt-4">ユーザー一覧</h2>
      <%= render 'index',users: @users %>
    </div>
  </div>
</div>